

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

button {
  outline: 0 !important;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
outline: 0 !important;
}


input[type=text], input[type=search], select {
  width: 100%;
  height: 46px;
  padding: 6px
}

input[type=file] {
display: none;
}

.upload + label{
  display: flex; 
  width: 100%;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  height: 200px; 
  margin: auto; 
  border: 3px dashed #ddd; 
}

input[type=text], input[type=search] {

  border: 1px solid #ddd
}
select {
  background: linear-gradient(#fff,#fafafa)
}

label {
  font-size: 12px
}

.btn-secondary {
  color: #21252a;
    background-color: #f1f1f1;
    border-color: #f1f1f1;
}

.btn-plus {
 margin: 10px 20px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  color: #000;
  border: 1px solid #AEAEAE;
  border-radius: 30px;
  font-size: 12px;
  font-weight: bold;
  line-height: 0px;
}

.progress {
  height: 4px;
  &__step {
    // margin: 0 10px;
    font-size: 14px;
    line-height: 0.4rem;
    text-align: left;
    color: #21252a;
  }
}

.content img {
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.btn-primary {
    line-height: 50px;
  padding: 4px 24px;
  background: #2ecc71;
  border: none
}

.btn-primary:hover, .btn-primary:focus {
  background: lighten(#2ecc71,10%);
  border: none
}

.btn-primary:disabled {
  background: #ddd
}

.navbar {
  width: 100%;
  height: 90px;
  box-shadow: 0 1px 15px 1px rgba(0,0,0,.06);
}

.card {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #efefef;
  margin: 10px 0
}

.col-md-3 {
  margin-bottom: 10px;
}

.step {
// max-width: 80%;
.step__items {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.step__photo {
  border: 1px dashed #ddd;
  padding: 10px;
  margin: 20px 0;
  height: 160px;
  & input {
    position: absolute;
    // background: #eee;
    & button {
      position: absolute;
      display: none;
      background: red;
    }
  }
}
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
 }

h2 {
  margin: 10px 0 10px 0;
}
h3 {
  font-size: 15px;
}
hr {
  border: solid 1px #d1d4e1;
}

ul {
  list-style: none;
  padding: 0
}

.wrapper {
  margin-top: 70px;
}

.main {
  padding: 30px 0px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  // display: flex;
  min-height: calc(100vh - 10rem);
}

// .content {
//   justify-content: center;
//     align-items: center;
//     margin: 0 auto;
//     display: flex;
//   height: 100%;
// }

.content-white {
  min-height: 100vh;
}



.content-wrapper {
  background: #f3f3fc;
  flex-direction: column !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  width: 100%;
  padding: 0em 0 0 1em;
}

.wrapper {
  display: flex;
}

.progress {
  margin-top: 20px;
  margin-bottom: 40px;
}


.header {
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
  background: #fff;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 920;
  box-shadow: 0 4px 12px -2px rgba(0,0,0,.06);
  align-items: center;
  padding: 10px;
  // z-index: 99
  // width: 100%
  & img {
  align-items: center;
  height: 48px;
  }
}

.sidebar {
  min-height: 100vh;
  position: relative;
  width: 16rem;
  background: #fff;
  // border-right: 1px solid $gray-300;
  //   box-shadow: 2px 2px 2px (rgb(246, 247, 248));
  
}

.content__header {
  margin-bottom: 40px
}

.pricing {
  background: #fff;
box-shadow: 0 0 13px 0 rgba(82,63,105,.1);
position: relative;
width: 340px;
padding: 20px;
cursor: pointer;
border-radius: 15px;
//   transition: all .3s ease-in-out;

//     &:hover {
//         transform: scale(1.05);
//         -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
//         box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
//     }
& ul li {
  color: rgb(52, 61, 72);
  font-size: 16px;
  margin-bottom: 21px;
}
&__header {
  margin-bottom: 20px;
  padding: 17px 20px;
  & h3 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 8px;
  }
  & p {
    color: rgba(52, 61, 72, 0.8);
    font-size: 15px;
    margin: 0px;
  }
}
&__body {
  margin-bottom: 25px;
  padding: 0px 20px;
}
&__footer {    
  text-align: center;
  padding: 17px 30px;
  border-top: 1px solid rgb(243, 244, 245);
}
  & strong {
    display: block;
    color: rgba(52, 61, 72, 0.8);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 27px;
  }
    & span {
      font-weight: 700;
      font-size: 36px;
      color: rgb(15, 33, 55);
  }
}

.show {
  position: absolute;
  &__is-visible {
    position: absolute;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    background: #1973e8;
    top: -42px;
    height: 40px;
    color: #fff;
    border-radius: 6px;
    width: 160px;
    font-size: 12px;
    padding: 10px;
    &:before {
      position: absolute;
      content: "Pzełącz na rezerwcje";
      color: #fff;
    }
    &:after {
      content: "";
      position: absolute;
      // background: red;
      border-left: solid transparent 10px;
      border-right: solid transparent 10px;
      border-top: solid #1973e8 10px;
      bottom: -10px;
      right: 45%;
      height: 10px;
      width: 20px;
    }
  }
}

.toggle-btn {
  width: 80px;
  height: 30px;
  margin: 10px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
    background: #eee;
  left: 0;
  right: 0;
  // opacity: 0
  z-index: 9;
  cursor: pointer;
  & .round-btn  {
    width: 20px;
    height: 20px;
    content: "";
    color: #fff;
    background-color: #1a73e8;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 68%;
    margin-top: -15px;
    -webkit-transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
    transition: all .30s ease-in-out;
    cursor: pointer}
  &.active .round-btn {
      background-color: #1a73e8;
      left: 55px}
    }
.cb-value {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
}

.sugestions {
  background-color: #ffffff !important;
  border: 1px solid #EBEBEB !important;
  border-radius: 0 0 4px 4px !important;
  box-shadow: 0 15px 46px -10px rgba(26, 26, 29, 0.3) ;
  & li {
    padding: 8px;
    cursor: pointer;
    }
  & li:hover {
    background: #efefef
  }
}

.openModal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: block;
  padding: 10px;
  height: auto;
  width: auto;
  background-color: #fff;
  border-radius: 1em;
  transform: translate(-50%, -50%);
  outline: transparent;
  z-index: 1000;
}



.openModal__body {
  text-align: center;
}

.overlay {
  background: none;
  position: relative
}

.grayImage {
  filter: grayscale(70%);
}

.border-green {
  border: 2px solid #2ecc71;
}

.overlay-active {
  position: fixed; 
  width: 100%; 
  height: 100%;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5); 
  z-index: 999;
  transition: background .5s;
  cursor: pointer;
}


label {
  // display: block;
  margin-top: 10px;

}
input[type=radio],  
input[type=checkbox] {
    display: none;
 }

input[type=radio] + label::before {
  border-radius: 50%; }
 
input[type=radio] + label,
input[type=checkbox] + label  {
    vertical-align: middle;
    position: relative}
  
input[type=radio]:hover + label::before,
input[type=checkbox]:hover + label::before  {
    background: #ddd; }
  
input[type=radio] + label::before,
input[type=checkbox] + label::before  {
    content: "";
    cursor: pointer;
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 8px;
    vertical-align: middle;
    background: #f2f2f2
  }

input[type=checkbox]:checked + label::before,
input[type=radio]:checked + label::before  {
  content: "";
  text-align: center;
  background: #2ecc71;
  color: #fff;
  font-size: 18px}

input[type=checkbox]:checked + label::before  {
    content: '\2713'}
  
input[type=radio]:checked + label::before  {
    background: #2ecc71}

input[type=radio]:checked + label::after  {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff
  }